<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="desktop-app-menu"
      label="Applications"
      execute="~/bin/openbox-menu-0.5.0/openbox-menu lxde-applications.menu" />
	<menu id="root-menu" label="Openbox 3">
		<item label="Exécuter">
			<action name="Execute">
				<command>
					gmrun
				</command>
			</action>
		</item>
		<separator/>
		<item label="Terminal" icon="/usr/share/icons/hicolor/16x16/apps/terminator.png">
			<action name="Execute">
				<command>
					terminator
				</command>
			</action>
		</item>
		<item label="Navigateur Internet" icon="/usr/share/icons/Faenza/apps/16/firefox.png">
			<action name="Execute">
				<command>
					x-www-browser
				</command>
			</action>
		</item>
		<item label="Gestionnaire de Fichiers" icon="/usr/share/icons/Faenza/apps/16/Thunar.png">
			<action name="Execute">
				<command>
					thunar
				</command>
			</action>
		</item>
		<item label="Éditeur de Texte" icon="/usr/share/icons/Faenza/apps/16/geany.png">
			<action name="Execute">
				<command>
					geany
				</command>
			</action>
		</item>
		<item label="Lecteur MultiMédia" icon="/usr/share/icons/Faenza/apps/16/vlc.png">
			<action name="Execute">
				<command>
					vlc
				</command>
			</action>
		</item>
		<separator/>
		<menu id="desktop-app-menu" />
		<separator/>
		<menu execute="cb-places-pipemenu" id="pipe-placesmenu" label="Emplacements" icon="/usr/share/icons/Faenza-CrunchBang/places/16/folder.png"/>
		<menu execute="cb-recent-files-pipemenu" id="pipe-recentfilesmenu" label="Documents Récents"/>
		<separator/>
		<menu id="settings" label="Préférences" icon="/usr/share/icons/Faenza/categories/16/preferences-other.png">
			<menu execute="cb-compositor" id="CompositingPipeMenu" label="Effets Composite"/>
			<menu id="conkyconfig" label="Conky">
				<item label="Éditer .conkyrc">
					<action name="Execute">
						<command>
							geany ~/.conkyrc
						</command>
					</action>
				</item>
				<item label="Relancer Conky">
					<action name="Execute">
						<command>
							conkywonky
						</command>
					</action>
				</item>
				<separator label="Aide?"/>
				<item label="Page de manuel">
					<action name="Execute">
						<command>
							terminator --command=&quot;man conky&quot;
						</command>
					</action>
				</item>
				<item label="Page de Wiki ">
					<action name="Execute">
						<command>
							x-www-browser http://crunchbanglinux-fr.org/wiki/crunchbang:conky
						</command>
					</action>
				</item>
			</menu>
			<menu id="dmenuconfig" label="dmenu">
				<item label="Éditer le script de lancement">
					<action name="Execute">
						<command>
							geany ~/.config/dmenu/dmenu-bind.sh
						</command>
					</action>
				</item>
				<separator label="Aide?"/>
				<item label="Page de manuel">
					<action name="Execute">
						<command>
							terminator --command=&quot;man dmenu&quot;
						</command>
					</action>
				</item>
			</menu>
			<menu id="gmrunconfig" label="gmrun">
				<item label="Éditer le fichier de configuration">
					<action name="Execute">
						<command>
							geany ~/.gmrunrc
						</command>
					</action>
				</item>
				<separator label="Aide?"/>
				<item label="Page de manuel">
					<action name="Execute">
						<command>
							terminator --command=&quot;man gmrun&quot;
						</command>
					</action>
				</item>
			</menu>
			<menu id="obConfig" label="Openbox">
				<item label="Éditer menu.xml">
					<action name="Execute">
						<command>
							geany ~/.config/openbox/menu.xml
						</command>
					</action>
				</item>
				<item label="Éditer rc.xml">
					<action name="Execute">
						<command>
							geany ~/.config/openbox/rc.xml
						</command>
					</action>
				</item>
				<item label="Éditer autostart">
					<action name="Execute">
						<command>
							geany ~/.config/openbox/autostart
						</command>
					</action>
				</item>
				<separator/>
				<item label="Éditeur graphique de menu">
					<action name="Execute">
						<command>
							obmenu
						</command>
					</action>
				</item>
				<item label="Configuration graphique des applications">
					<action name="Execute">
						<command>
							obapps
						</command>
					</action>
				</item>
				<item label="Interface OpenBox">
					<action name="Execute">
						<command>
							obconf
						</command>
					</action>
				</item>
				<separator/>
				<item label="Reconfigurer OpenBox">
					<action name="Reconfigure"/>
				</item>
				<item label="Relancer OpenBox">
					<action name="Restart"/>
				</item>
			</menu>
			<menu id="terminatorconfig" label="Terminator">
				<item label="Éditer le fichier de configuration">
					<action name="Execute">
						<command>
							geany ~/.config/terminator/config
						</command>
					</action>
				</item>
				<separator label="Aide?"/>
				<item label="Page de manuel">
					<action name="Execute">
						<command>
							terminator --command=&quot;man terminator_config&quot;
						</command>
					</action>
				</item>
			</menu>
			<menu id="tint2config" label="tint2">
				<item label="Éditer le fichier de configuration">
					<action name="Execute">
						<command>
							geany ~/.config/tint2/tint2rc
						</command>
					</action>
				</item>
				<item label="Relancer tint2">
					<action name="Execute">
						<command>
							tint2restart
						</command>
					</action>
				</item>
				<separator label="Aide?"/>
				<item label="Page de manuel">
					<action name="Execute">
						<command>
							terminator --command=&quot;man tint2&quot;
						</command>
					</action>
				</item>
				<item label="Aide en ligne">
					<action name="Execute">
						<command>
							x-www-browser http://code.google.com/p/tint2/wiki/Welcome
						</command>
					</action>
				</item>
			</menu>
			<menu id="DisplaySettings" label="Préférences de l'Affichage">
				<item label="gestionnaire d'affichage ARandR">
					<action name="Execute">
						<command>
						    arandr
					    </command>
					</action>
				</item>
				<separator label="Aide?"/>
				<item label="Manuel de xrandr">
					<action name="Execute">
						<command>
						    terminator --command=&quot;man xrandr&quot;
					    </command>
					</action>
				</item>
			</menu>
			<item label="Applications par défaut">
				<action name="Execute">
					<command>
						terminator --command=&quot;sudo update-alternatives --all&quot;
					</command>
				</action>
			</item>
			<item label="Interface Utilisateur">
				<action name="Execute">
					<command>
						lxappearance
					</command>
				</action>
			</item>
			<item label="Gestionnaire d'énergie">
				<action name="Execute">
					<command>
						xfce4-power-manager-settings
					</command>
				</action>
			</item>
			<item label="Économiseur d'écran">
				<action name="Execute">
					<command>
						xscreensaver-demo
					</command>
				</action>
			</item>
			<item label="Fond d'écran">
				<action name="Execute">
					<command>
						nitrogen ~/images/wallpapers/
					</command>
				</action>
			</item>
		</menu>
		<menu id="system" label="Système" icon="/usr/share/icons/Faenza/categories/16/preferences-system.png">
			<menu execute="cb-printing-pipemenu" id="PrintingPipeMenu" label="Impression"/>
			<item label="Gestionnaire de Partitions GParted">
				<action name="Execute">
					<command>
						gksudo gparted
					</command>
				</action>
			</item>
			<item label="Gestionnaire de Paquets Synaptic">
				<action name="Execute">
					<command>
						gksudo synaptic
					</command>
				</action>
			</item>
			<item label="Écran de démarrage">
				<action name="Execute">
					<command>
						gksudo slimconf
					</command>
				</action>
			</item>
			<item label="Gestion des services au démarrage">
				<action name="Execute">
					<command>
						terminator --command=&quot;sudo sysv-rc-conf&quot;
					</command>
				</action>
			</item>
		</menu>
		<menu execute="cb-help-pipemenu" id="help" label="Aide"/>
		<separator/>
		<item label="Verrouillage">
			<action name="Execute">
				<command>
					cb-lock
				</command>
			</action>
		</item>
		<item label="Quitter">
			<action name="Execute">
				<command>
					cb-exit
				</command>
			</action>
		</item>
	</menu>
</openbox_menu>
